* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --text-yellow: #f5b038;
  --text-green2: #00b45b;
  --text-green1: #88b45b;
  --text-orange: #ff6b12;
  --text-gray1: #666666;
  --text-gray2: #454545;
  --text-white: #ffffff;
  --bg-light-blue: #3d7274;
  --bg-dark-blue: #265153;
  --bg-modal: rgba(164, 209, 118, 0.506);
  --bg-buttonX: rgba(230, 36, 36, 0.774);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #ff620028;
}

header {
  background-color: var(--bg-light-blue);
  padding: 1rem 0;
}

.hide {
  opacity: 0;
  display: none;
}


img.logo.nav {
  width: 5rem;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--text-white);
  background-color: var(--bg-light-blue);
  padding: 0 0.5rem;
}

nav a:hover {
  font-weight: bold;
}

nav a:focus {
  font-weight: bold;
}

main {
  display: grid;
  justify-content: center;
  margin: 2% auto;
}

/* Modal */
main .modal {
  display: none;
  padding: 3rem;
  border-radius: 1rem;
  z-index: 1;
  background-color: var(--bg-modal);
  overflow: auto;
  margin-top: 2rem;
}

main .content_modal {
  font-weight: 400;
}

main .appear {
  display: grid;
}

.close {
  float: right;
  color: var(--text-gray1);
  font-weight: bold;
  font-size: 2rem;
}

.close:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.5rem;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr;
  }

  nav .hide {
    display: grid;
    opacity: 1;
  }

  nav img.logo.nav {
    display: none;
    opacity: 0;
  }

  nav img {
    width: 100vw;
    max-width: 30rem;
    margin: auto;
    height: auto;
    object-fit: cover;
  }

  nav a:nth-child(2n) {
    background-color: var(--bg-dark-blue);
  }
}
